body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh; 
  justify-content: center;
  animation: colorCylce 10s infinite;
}

@keyframes colorCycle {
  0% { background-color: #ff7eb3; } /* Light Pink */
  25% { background-color: #ffbf80; } /* Peach */
  50% { background-color: #ffdf80; } /* Yellow */
  75% { background-color: #80ff9e; } /* Mint Green */
  100% { background-color: #80d8ff; } /* Light Blue */
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header h1 {
  font-size: 24px;
  margin: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  display: block;
  background-color: #b32f2f;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #005bb5;
}
